.App-header {
  color: black;
  background: url('./assets/chicago-city-cityscape-city-lights-dusk-skyscrapers-skyline-1920x1080-4320.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.container {
  padding-top: 10px;
  max-width: 1500px;
  margin: 0 auto;
}
