.App-header {
  color: black;
  background: url('./assets/grass-5999566_1920.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  user-select: none;
}
.container {
  padding-top: 10px;
  max-width: 1500px;
  margin: 0 auto;
}
